.header {
    display: flex;
    justify-content: space-between;
    padding: 5px 15px;
    line-height: 40px;
    color: var(--dark);
}

.navigation {
    display: flex;
    list-style: none;
}

.navigation-item-link {
    text-decoration: none;
    font-family: 'Silkscreen', cursive;
    padding: 10px 20px;
    margin: 0 5px;
    color: var(--dark);
    transition: .1s;
}

.navigation-item-link.active {
    border-bottom: 3px solid var(--red);
}

.navigation-item-link:hover {
    color: var(--red);
}


.dark_mode_checkbox {
  opacity: 0;
  position: absolute;
}

.label {
  width: 50px;
  height: 26px;
  background-color: var(--dark);
  display: flex;
  border-radius:50px;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  position: relative;
  transform: scale(1.5);
}

.ball {
  width: 20px;
  height: 20px;
  background-color: var(--light);
  position: absolute;
  top: 2px;
  left: 2px;
  border-radius: 50%;
  transition: transform 0.2s linear;
}

/*  target the elemenent after the label*/
.dark_mode_checkbox:checked + .label .ball{
  transform: translateX(24px);
}

.fa-moon {
  color: pink;
}

.fa-sun {
  color: yellow;
}


@media screen and (max-width: 600px) {
    .header {
        flex-direction: column;
    }
    .header-logo {
        text-align: center;
    }

    .navigation {
        justify-content: center;
    }
}