.timeline {
  margin: 25px auto;
  position: relative;
}

.timeline::after {
  content: "";
  position: absolute;
  width: 6px;
  background-color: var(--blue);
  top: 0;
  bottom: 0;
  left: 80%;
}

.timeline-item {
  font-family: monospace;
  font-size: 1.5em;
  margin: 5px 0;
  padding-left: 40px;
  color: var(--dark);
}

.timeline-item h3 {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: inline;
}

.timeline-item .emoji {
  float: none;
}

.timeline-item > .rate {
  font-size: 2em;
}

.timeline-date-item {
  position: relative;
  font-size: 2em;
  margin: 20px 0;
  text-decoration: underline 5px;
  color: var(--dark);
}

.timeline-date-item::after {
  content: "";
  position: absolute;

  width: 20px;
  height: 20px;
  background-color: var(--white);
  border: 6px solid var(--blue);
  border-radius: 50%;
  top: 0;
  left: calc(80% - 13px);
  z-index: 1;
}
